block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script.
        var updateCount = 0;
        var firstGet = true;
        var requestLoop = setInterval(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:44000/getUpdateCount",
                dataType: "json"
            }).done(function (res) {
                if (res.count > updateCount) {
                    updateCount = res.count;
                    getNewImage("comparison/active.png");
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("AJAX call failed: " + textStatus + ", " + errorThrown);
            });
        }, 1000);

        function getNewImage(filename) {
            // location.reload();

            var myUrl = "http://localhost:44000/uploads";
            $.ajax({
                type: "GET",
                url: myUrl,
                mimeType: "text/plain; charset=x-user-defined"
            }).done(function (data) {
                $("#IMGZ").attr('src', 'data:image/jpeg;base64,' + base64Encode(data));
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("AJAX call failed: " + textStatus + ", " + errorThrown);
            });
        }

        function base64Encode(str) {
            var CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
            var out = "", i = 0, len = str.length, c1, c2, c3;
            while (i < len) {
                c1 = str.charCodeAt(i++) & 0xff;
                if (i == len) {
                    out += CHARS.charAt(c1 >> 2);
                    out += CHARS.charAt((c1 & 0x3) << 4);
                    out += "==";
                    break;
                }
                c2 = str.charCodeAt(i++);
                if (i == len) {
                    out += CHARS.charAt(c1 >> 2);
                    out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
                    out += CHARS.charAt((c2 & 0xF) << 2);
                    out += "=";
                    break;
                }
                c3 = str.charCodeAt(i++);
                out += CHARS.charAt(c1 >> 2);
                out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
                out += CHARS.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));
                out += CHARS.charAt(c3 & 0x3F);
            }
            return out;
        }

    //p Welcome to #{title}
    img.className#IMGZ(src="comparison/active.png" alt="Image Title")